body {
  font-family: Courier, monospace;
  font-weight: bold;
  padding: 20px;
  width: 300px;
  background-color: #012030;
  color: #13678A;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #45C4B0;
}

button, select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

button {
  background-color: #45C4B0;
  color: #012030;
}

button:hover {
  background-color: #9AEBA3;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

#start-scraping {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #45C4B0;
}

#start-scraping:hover {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #DAFDBA;
}

#stop-scraping {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #45C4B0;
}

#stop-scraping:hover {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #DAFDBA;
}

select {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #DAFDBA;
  color: #012030;
  margin-top: 20px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #DAFDBA;
}

#export-data, #export-code {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #13678A;
}

#export-data:hover, #export-code:hover {
  font-family: Courier, monospace;
  font-weight: bold;
  background-color: #45C4B0;
}